<nav >
    <div class="nav__container">
        <div class="logo">
            <h1> <a routerLink="/home">Mahdi.B</a> </h1>
        </div>

        <ul class="nav__menu">
            <li  class="links"><a routerLink="/home">Home</a></li>
            <li class="links"><a routerLink="/bio" >BIO</a></li>
            <li  class="links"><a routerLink="/experience">Skills</a></li>
            <li  class="links"><a routerLink="/portfolio">Portfolio</a></li>
            
        </ul>

        <div class="button ">
            <span></span>
            <span></span>
            <span></span>
        </div>
        
    </div>

</nav>