<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link rel="stylesheet" href="/css/experience.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>
    <section class="experiences" id="experiences">
        <div class="container">
               <div class="experiences__title">
                   <h1>My Skills</h1>
               </div>
   
            
               <hr style="border: none; border-top: 2px solid black; margin: 0;">

               <div class="experiences__container">

                    <!-- front end  -->
                   <article class="experience">
                       <div class="experience__info">
                           <h3>Frontend</h3>
                           <ul class="experience__list">
                               <li><a href="">Angular</a> </li>
                               <li><a href="">React</a> </li>
                               <li><a href="">HTML</a> </li>
                               <li><a href="">CSS</a> </li>
                               <li><a href="">AppDesigner</a> </li>

                           </ul>
                        </div>
                           <div class="experience__image">
                            <i class="fa-brands fa-js fa-fade" style="color: #ffc800;"></i>
                        </div>
                   </article>
                   <!-- backend -->
                   <article class="experience">

                       <div class="experience__info">
                           <h3>Backend</h3>
                           <ul class="experience__list">
                               <li><a href="">Express.js</a> </li>
                               <li><a href="">Spring Boot</a> </li>
                               <li><a href="">Fast-API</a> </li>
                               <li><a href="">Application Engine</a> </li>
                           </ul>
                        </div>
                           <div class="experience__image"><img src="https://i.ibb.co/GMYhtJ8/marketing-image.png" alt="marketing-image" border="0">
                           </div>
                   </article>
                   <!-- AI -->
                   <article class="experience">
                       <div class="experience__info">
                           <h3>AI</h3>
                           <ul class="experience__list">
                               <li><a href="">Gemini 1.5 pro-002 <span>(VEGAS)</span></a> </li>
                               <li><a href="">Gemini 2.0 flash-001 <span>(VEGAS)</span></a> </li>
                               <li><a href="">llama3 <span>(ollama)</span></a> </li>
                               <li><a href="">Mistral <span>(ollama)</span></a> </li>
                               <li><a href="">Phi3:mini <span>(ollama)</span></a> </li>
                           </ul>
                        </div>
                            <div class="experience__image"><img src="https://incubator.ucf.edu/wp-content/uploads/2023/07/artificial-intelligence-new-technology-science-futuristic-abstract-human-brain-ai-technology-cpu-central-processor-unit-chipset-big-data-machine-learning-cyber-mind-domination-generative-ai-scaled-1-1500x1000.jpg" alt="technique" border="0">
                           </div>
                   </article>
                   <!-- Database  -->
                   <article class="experience">

                       <div class="experience__info">
                           <h3> Database Management</h3>
                           <ul class="experience__list">
                               <li><a href="">SQL</a> </li>
                               <li><a href="">MySQL</a> </li>
                               <li><a href="">SQLite</a> </li>
                               <li><a href="">Oracle db</a> </li>
                               <li><a href="">Chromadb</a> </li>
                           </ul>
                        </div>
                           <div class="experience__image">
                           <img src="https://i.ibb.co/3v9rXsw/course-4.jpg" alt="course-4" border="0">
                           </div>
                   </article>
                   
                   <!-- deployment  -->
                   <article class="experience">
                       <div class="experience__info">
                           <h3>Deployment</h3>
                           <ul class="experience__list">
                               <li><a href="">Docker</a> </li>
                               <li><a href="">GitHub</a> </li>
                               <li><a href="">GitHub Container Registry</a> </li>
                               <li><a href="">GitHub Action</a> </li>
                               <li><a href="">Netlify</a> </li>
                               <li><a href="">Render</a> </li>
                               <li><a href="">Aiven</a> </li>
                               <li><a href="">Hugging Face</a> </li>
                           </ul>
                        </div>
                           <div class="experience__image"><img src="https://i.ibb.co/zPHvm8p/technique.png" alt="technique" border="0">
                           </div>
                   </article>
                   <!-- Testing  -->
                   <article class="experience">

                       <div class="experience__info">
                           <h3>Testing</h3>
                           <ul class="experience__list">
                               <li><a href="">Selenium</a> </li>
                               <li><a href="">Postman</a> </li>
                               <li><a href="">Smoke testing</a> </li>
                               <li><a href="">Unit Testing</a> </li>
                               <li><a href="">Functional Testing</a> </li>
                               <li><a href="">Postman</a> </li>
                               <li><a href="">Regression Testing</a> </li>
                               <li><a href="">TestNG</a> </li>
                           </ul>
                        </div>
                           <div class="experience__image"><img src="https://i.ibb.co/Lph6nkh/sources.png" alt="sources" border="0">
                           </div>
                   </article>
                   <!-- Programming Languages  -->
                   <article class="experience">
                       <div class="experience__info">
                           <h3>Programming Languages</h3>
                           <ul class="experience__list">
                               <li><a href="">Java</a> </li>
                               <li><a href="">JavaScript</a> </li>
                               <li><a href="">TypeScript</a> </li>
                               <li><a href="">Python</a> </li>
                               <li><a href="">SQR Code</a> </li>
                               <li><a href="">Peoplecode</a> </li>
                           </ul>
                        </div>
                           <div class="experience__image"><i class="fa-brands fa-java fa-beat"></i>
                           </div>
                   </article>
            
               </div>
               <div class="experience__header">
                <div class="experiences__info">
                    <h1>Skills</h1>
                    <p>A highly skilled and versatile software engineer with expertise in front-end and back-end development, database management, and deployment. Proficient in front-end technologies including Angular, React.js, JavaScript, TypeScript, HTML, and CSS. Experienced in back-end technologies such as Java, Spring Boot, FastAPI websocket Python, and backend security with OAuth and token-based authentication. Adept in database management using SQL, MySQL, SQLite, and knowledge graph databases like Neo4j. Skilled in DevOps and deployment with Netlify, Render, and Aiven, and workflow management with GitHub. Recent project experience includes building a RAG chat UI using Gemini, showcasing a strong interest and capability in AI-related projects.
                     </p>
                        <a href="/index.html" class="btn"><button>Home Page</button></a>
                     </div>
                     
                     
                     
                     <div class="experiences__image">
                         <img src="https://i.ibb.co/3v9rXsw/course-4.jpg" alt="course-4" border="0">
                        </div>
                    </div>
                    <hr style="border: none; border-top: 2px solid black; margin: 0;">
       </div>
   </section>
</body>
</html>