<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/portfolio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>My Portfolio</title>
</head>
<body>

    <!------------ Nav bar----------- -->
    <nav>
        <div class="logo">
            <a href="/index.html">
                <h1>Mahdi.B</h1>
            </a>
        </div>
        <ul class="sociale__icon">
            <a href="https://www.linkedin.com/in/mahdi-belabbas" target="_blank"><i class="fa-brands fa-linkedin" ></i></a>
            <a href="" download=""><i class="fa-solid fa-file" style="color: #ffffff;"></i></a>
            <a href="https://github.com/idham19" target="_blank"><i class="fa-brands fa-github"></i></a>
        </ul>

        <button class="btn"> 
            <span></span>
            <span></span>
            <span></span>
        </button>

    </nav>

    <!-- ----Header -->

    <section class="header">
        <div class="container">
            <div class="text__container">
                <div class="text-1">
                    <h1>Mahdi Belabbas</h1>               
                </div>
            </div>
        </div>
    </section>


    <!--------------About---------------  -->
<section class="about" id="about">

    <div class="container">
        <h1>Projects</h1>
    </div>
</section>


<!-- -----------work---------- -->

<section class="works" id="work">
    <!-- <section class="services" id="work">
        <div class="container">
               <div class="services__title">
                   <h1>Work</h1>
               </div>

               <div class="services__container">
                   <article class="service_work">
                       <div class="service__info">
                           <h2 style="color: rgb(255, 253, 253); margin-bottom: 0;">QA Test Automation tester </h2>
                           <h4 style="color: rgb(255, 255, 255); ">Aug 2022 - March 2023</h4>

                           <h4 style="color: rgb(255, 255, 255);margin-bottom:1.3rem ;">PeoplenTech, New York</h4>
                           <div class="service__list">
                               <li>organizing testing framework and ensured that test functions were performed on defined process.
                             </li>
                               <li>Updated /Added Framework functions/libraries when needed for developing automation scripts.
                            </li>
                               <li>executing the scripts using Maven and integrating it in Jenkins.
                            </li>
                               <li>Created XML suites in TestNG for categorization of tests.</li>
                               <li>Browser testing using Selenium WebDriver Page Object Model.</li>
                        </div>
                        </div>   
                   </article>

                   <article class="service_work">
                    <div class="service__info">
                        <h2 style="color: rgb(255, 255, 255); margin-bottom: 0;">WEB DEVELOPMENT JAVASCRIPT & JAVA BOOTCAMP </h2>
                        <h4 style="color: rgb(255, 255, 255);">April 2022 - December 2022</h4>
                        <h4 style="color: rgb(255, 255, 255);margin-bottom:1.3rem ;">LaunchCode, Philadelphia, PA</h4>
                       <ol>
                        <li>Worked with a team of colleagues to create a website using the Petfinder API. 
                        </li>
                        <li>Created a website that allows users to search for pets by location, breed, age, and other criteria.
                        </li>
                        <li>Included a number of features that make it easy for users to learn more about the pets they are interested in</li>
                        <li>Tested and debugged the website to ensure that it is working properly.</li>
                       </ol>
                     </div>
                     
                </article>

               </div>
       </div>
   </section> -->

<div class="container">
    <h1>Other Project</h1>

    <h2>Web Site</h2>
    <div class="work__container">
                <article class="work">
            <img src="https://i.ibb.co/rfkxf2mr/Screenshot-2025-06-20-104340.png" alt="business" border="0">       
            <h3>Full-Stack AI Chatbot</h3>
            <p>Developed a full-stack AI chatbot featuring an Angular front-end and a Python FastAPI backend with WebSockets for real-time chat. This solution integrates with Ollama's Phi3:mini AI model and is deployed using Docker images on Hugging Face Spaces, demonstrating end-to-end AI application development and deployment</p>
            <span class="live"><a href="https://idhambe-backend.hf.space/" target="_blank">Live</a></span>
            <span class="code"><a href="https://github.com/idham19/full_stack_rag.git" target="_blank"> Code</a></span>
        </article>
        <article class="work">
            <img src="https://i.ibb.co/CpbXwGz2/Screenshot-2025-06-20-104211.png" alt="Health" border="0">
            <h3>Create Events </h3>
            <p>Developed a full-stack event management application with an Angular front-end (hosted on Netlify) and a Python backend (hosted on Render). It features a MySQL database hosted on Aiven, a calendar view for events, and secures user access via <span style="color: aqua;">Google authentication</span>, ensuring personalized event tracking</p>
            <span class="live"><a href="https://create-event-app.netlify.app/" target="_blank">Live</a></span>
            <span class="code"><a href="https://github.com/Evan-Mahdi" target="_blank"> Code</a></span>
        
        </article>
        <article class="work">
            <img src="https://i.ibb.co/YL5ZZSn/e-management-store.png" alt="e-management-store" border="0">
               <h3>E-Management-store </h3>
               <p>Welcome to my full-stack application! This project is designed to provide a secure, user-friendly experience for managing a store catalog, allowing users to register, sign in, and interact with various products. The web app is also fully mobile responsive, ensuring a seamless and optimized experience across all devices, from desktops to tablets and mobile phones</p>
               <span class="live"><a href="https://e-management-store.netlify.app/" target="_blank">Live</a></span>
               <span class="code"><a href="https://github.com/idham19/E-Management-Store.git" target="_blank"> Code</a></span>
           </article>
   
        <article class="work">
            <img src="https://i.ibb.co/ZVXvwS1/E-commerce.png" alt="E-commerce" border="0">
            <h3>E-Commerce </h3>
            <p>E-commerce Web Site Using Html , Scss and Java-script with fully functional shopping cart and responsive in All Screen Size</p>
          
            <span class="live"><a href="https://mahdi-e-commerce.netlify.app/" target="_blank">Live</a></span>
            <span class="code"><a href="https://github.com/idham19/E-commerce-Website-HTML-SCSS-JAVASCRIPt" target="_blank"> Code</a></span>
        </article>
    </div>
  
</div>
</section>


<!-- --------------- SKILLS Section ---------------- -->


<section class="skills" id="skills">
    <div class="container">

        <div class="skills__title">
            <h1>Skills</h1>
         <span class="html"><i class="fa-brands fa-angular fa-beat-fade" style="color: #b82828;"></i></span>
         <span class="css"><i class="fa-brands fa-js fa-bounce" style="color: #ff881a;"></i></span>
         <span class="js"><i class="fa-brands fa-python fa-bounce" style="color: #FFD43B;"></i></span>
         <span class="figma"><i class="fas fa-database"></i></span>
         <span class="sass"><i class="fa-solid fa-brain"></i></span>
         <span class="ui"><i class="fa-brands fa-docker fa-fade" style="color: #74C0FC;"></i></span>
        </div>
        <div class="other__skills">
            <h1>Skills</h1>
            <div class="skill__container">

                <article class="skill">
                    <h3>AI</h3>
                    <h3>Python</h3>
                    <h3>Angular</h3>
                </article>

            <article class="skill" >
             <h3 style="border-right:solid 1px; border-left:none; text-align: right;">Database</h3>
             <h3 style="border-right:solid 1px; border-left:none; text-align: right;">JavaScript</h3>
             <h3 style="border-right:solid 1px; border-left:none; text-align: right;">Docker</h3>
            </article>   
        </div>
        </div>
    </div>
</section>

<!-------Contact Section------------  -->
<footer id="contact">
    <div class="container">

        <div class="footers__container">

               <article class="footer">
                   <h1>Contact Me</h1>
               <p>E-mail: someEmail@Gmail.com</p>
               <p>Address : philadelphia,Pennesylvania</p>
                   <div class="icons">
                    <a href="https://www.linkedin.com/in/mahdi-belabbas" target="_blank"><i class="fa-brands fa-linkedin" ></i></a>
                    <a href="" download=""><i class="fa-solid fa-file" style="color: rgb(255, 255, 255);"></i></a>
                    <a href="https://github.com/idham19" target="_blank"><i class="fa-brands fa-github"></i></a>
                   </div>
           </article>

           <article class="footer">
               <h1>Menu</h1>
               <ul class="nav__menu">
                   <li class="links"><a href="/index.html">Home</a></li>
                   <li class="links"><a href="/index.html">Bio</a></li>
                   <li class="links"><a href="#skills">Skills</a><li>          
               </ul>
           </article>
        
       </div>

       <div class="form">
           <h1>Send Message</h1>
           <form action="https://formspree.io/f/xzboaddq" method="POST">
               <input type="text" name="text" required placeholder="Enter Your name">
               <input type="email" name="email" required placeholder="Enter a Valid Email">
               <textarea name="add text" id="" cols="20" rows="10" placeholder="Add Message"></textarea>
               <input type="submit" class="btn2">
           </form>
       </div>
       
       
   </div>


</footer>

    <script src="./index.js"></script>
</body>
</html>
