
<header class="header">
    <div class="container">
        
        <div class="header__info">
            <h1>Mahdi </h1>
            <p>
               As a Software Engineering Apprentice, I thrive on problem-solving and crafting innovative software. With a solid foundation from my 12-month apprenticeship (training with Multiverse, practical experience at Verizon), I'm actively building expertise. My passion for AI shines through practical experience with models like Ollama (Mistral, Llama3) and VEGAS (Gemini), where I successfully developed a RAG chat system, consistently seeking continuous improvement.
        </p>
            <a routerLink="/bio" class="btn">Learn More..</a>
        </div>
        <div class="header__image">
            <img src="https://i.ibb.co/SyT5yKC/business-image.jpg" alt="business-image" border="0">
        </div>
    </div>
</header>