
<header class="header">
    <div class="container">
        
        <div class="header__info">
            <h1>Mahdi </h1>
            <p>
                Passionate about software development, I am currently a software engineering apprentice focused on honing my skills. I love solving problems and building efficient, innovative solutions. Through hands-on learning and continuous improvement, I'm committed to developing a strong foundation in coding and software design.
        </p>
            <a routerLink="/bio" class="btn">Learn More..</a>
        </div>
        <div class="header__image">
            <img src="https://i.ibb.co/SyT5yKC/business-image.jpg" alt="business-image" border="0">
        </div>
    </div>
</header>