
<!DOCTYPE html>
<html lang="en">
<head>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Inter:wght@300;400;600&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="header">
        <div class="container">
         <div>
            <h2>Welcome to My Portfolio</h2>
    
            <h4>Hi, I'm Mahdi Belabbas, a Software Engineering Apprentice who 
                thrives on problem-solving and crafting innovative software. 
                Through a solid foundation built during my 12-month apprenticeship 
                at Verizon (with training from Multiverse), I'm actively building expertise.
                My passion for AI shines through practical experience 
                with models like Ollama (Mistral, Llama3 and phi3:mini) and VEGAS (Gemini),
                 where I successfully developed a RAG chat system, 
                consistently seeking continuous improvement.</h4>
    
                <h2>Overview of Apprenticeship</h2>
    
                <ul>
                    <li><b>Host Company </b>: <a href="https://www.verizon.com/" target="_blank"><span style="color: red; font-weight:1000;">Verizon</span></a></li>
                    <li><b>Duration </b>: 12 months</li>
                    <li><b>Projects Website </b>:<a style="color: rgb(63, 115, 219);font-weight: 600;" routerLink="/portfolio">Projects</a></li>   
                    <li><b>Portfolio Github link </b>:<a href="https://github.com/idham19/Portfolio.git" target="_blank"><i class="fa-brands fa-github"></i></a>
                    </li>
                </ul>
            </div>
            <div class="header__image">
                <img src="https://i.ibb.co/SyT5yKC/business-image.jpg" alt="business-image" border="0">
            </div>
        </div>
    </header>
</body>
</html>
